{% extends "public/layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
    <div class="flex flex-wrap -mx-3 -mt-48 md:-mt-56 lg:-mt-48">
        <div
                class="w-full max-w-full px-3 mx-auto mt-0 md:flex-0 shrink-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
            <div
                    class="relative z-0 flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-6">
                    <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
                        Forgot Your Password?
                    </h2>
                    <p class="text-gray-600 text-center mb-4">
                        Enter your email address below and we'll send you instructions to reset your password.
                    </p>

                    <form method="POST" action="{% url 'password_reset' %}" role="form text-left">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="mb-4">
                            <input
                                    name="{{form.email.name}}"
                                    type="text"
                                    class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"
                                    placeholder="Email"
                                    aria-label="Name"
                                    aria-describedby="email-addon"/>
                            {{ form.email.errors }}
                        </div>
                        <div class="text-center">
                            <button
                                    type="submit"
                                    class="inline-block w-full px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gradient-to-tl from-gray-900 to-slate-800 hover:border-slate-700 hover:bg-slate-700 hover:text-white">
                                Send Reset Link
                            </button>
                        </div>
                        <p class="mt-4 mb-0 leading-normal text-sm">
                            <a href="{% url 'login' %}" class="font-bold text-slate-700">Back to login</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
